/* #attribute-list {
  flex-flow: column;
  text-align: center;
  justify-content: space-evenly;
  width: 100px;
  border: 1px solid #dfd0d0;
} */

.attr-item {
  border: 1px solid #9a8b8b;
  margin-top: 5px;
  height: 100px;
  background-color: gray;
  display: flex;
  flex-flow: column;
  cursor: pointer;
}

.attr-value {
  font-size: 2.5em;
  margin: 10px;
}

.attr-name {
  align-self: center;
}

li {
  display: inline;
}

.attr-panel > div {
  display: inline;
}

#attribute-list {
  display: grid;
  grid-area: attr-col;
}

.attr-item-container {
  text-align: center;
}

.attribute-list-panel {
  background-color: #4277c3;
}

.attribute-list__active {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column: 1 / 6;
  z-index: 1;
  grid-template-areas: 
    "a b"
    "a b";
}

.attribute-list-fc {
  grid-area: a;
}

.active-attribute {
  background-color: #4277c3;
}

.attribute-list-panel {
  grid-area: b;
  display: none;
}

.attribute-list-panel.panel__open {
  display: inherit;
}

.attr-active {
  position: relative;
  bottom: 100px;
  display: flex;
  left: 65px;
}

.attr-active > div {
  height: 50px;
}