/* .ability > a, .ability > a:visited {
  text-decoration: none;
  color: #fafcfc;
  display: block;
  line-height: 60px;
} */

.ability-modifier {
  line-height: 10px;
  font-size: 10px;
  padding-bottom: 10px;
}

.character-panel {
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}

#character-abilities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "ability-inc ability ability ability ability ability ability"
    "ability-dec ability ability ability ability ability ability";
}

.char-class {
  grid-column: 1 / 3;
  align-self: center;
}

.char-field > a {
  display: block;
}

.char-field-editable {
  text-decoration: none;
  display: block;
  line-height: 60px;
}

.char-field-editable:visited {
  color: #fafcfc;
}

.char-field {
  height: 100%;
}

#character-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* probably shouldn't be doing this */
#character-stats > li:not(.level-changer-inactive) {
  list-style-type: none;
}

.god-dammit {
  display: flex;
  flex-flow: column;
}

.ability-short {
  padding-top: 10px;
  line-height: 10px;
  font-size: 12px;
}

.ability {
  cursor: pointer;
  grid: "ability";
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #4c555a;
}

.ability:hover {
  background-color: #6a767c;
}

.active-field, .active-field > a:visited {
  background-color: #fafcfc;
  color: #4c555a;
}

.active-field:hover {
  background-color: #fafcfc;
}

#ability-inc {
  grid: "ability-inc";
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #7e2c2c;
}

#ability-dec {
  grid: "ability-dec";
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: #590111;
}

.ability-change {
  color: white;
  cursor: pointer;
  border: black;
  font-size: 1em;
  font-weight: 100;
}

.field-change {
  color: white;
  cursor: pointer;
  border: black;
  font-size: 1em;
  font-weight: 100;
}

.field-change-inc {
  background-color: #7e2c2c;
}

.field-change-dec {
  background-color: #590111;
}

#character-summary {
  background: linear-gradient(to right, #4c555a, #626d74);
  height: 100%;
}

.label-lg {
  font-size: 20px;
}
/* Skill Stuff */

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trained-skill {
  background-color: #7e2c2c;
}

.algn-horizontal {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* .skills > div.character-field:hover {
  box-shadow: 1px 1px 1px 1px black;
} */

/* level changer stuff */

.level-changer-inactive {
  display: none;
}

.show-panel {
  animation: slideLevelPanel 0.5s ease-in 0s 1 forwards;
  display: flex;
  flex-flow: column;
  width: 50%;
  transform: translate(-100px, 0);
  z-index: -1;
}

.character-field {
  color: #fafcfc;
  display: flex;
  flex-flow: column;
  padding: 5px;
  cursor: pointer;
}

.character-field:hover {
  background-color: #6a767c;
  animation: raiseSkill 300ms linear 0s 1 forwards;
  /* box-shadow: 1px 1px 1px 1px black; */
}

.character-field a {
  height: 100%;
}

.field-label {
  align-self: flex-start;
  font-size: 10px;
}

.character-field.label-lg div.field-label {
  font-size: 12px;
}

.field-value {
  align-self: center;
}

#personal-fields {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "char-name char-name . char-class char-class"
    "char-lvl . char-alignment char-alignment char-race";
}


#personal-fields div:nth-child(1) {
  grid-area: char-name;
}

#personal-fields div:nth-child(2) {
  grid-area: char-class;
}

#personal-fields div:nth-child(3) {
  grid-area: char-lvl;
}

#personal-fields div:nth-child(4) {
  grid-area: char-alignment;
}

#personal-fields div:nth-child(5) {
  grid-area: char-race;
}

input[type=text], input[type=number] {
  outline: 0;
  background-color: #4c555a;
  padding: 10px;
  border: 0;
  color: white;
  -webkit-appearance: none;
}

@keyframes slideLevelPanel {
  0% {
    transform: translate(-50px, 0);
    opacity: 0;
  } 100% {
    z-index: 0;
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes raiseSkill {
  from {
    box-shadow: unset;
  } to {
    box-shadow: 1px 1px 1px 1px black;
  }
}