body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#char-builder {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr;
}

#char-builder > section {
  padding: 20px;
}

article {
  padding: 20px;
}

a, a:visited {
  text-decoration: none;
  color: white;
}